body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: -21px auto;
  padding: 24px 20px;
}

nav h1 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul.left-menu {
  margin-right: auto;
}

ul.right-menu {
  margin-left: auto;
}

li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #555;
}

h1 img {
    width: 65px;
    height: auto;
    margin-right: 272px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.upcoming-events-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.event-box {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}